.slder {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
    margin-bottom: 15%;
    /* height: 50vh; */
    color: white;
}
.slder img {
    width: 700px;
    margin: 0% auto;
    border-radius: 5px;
}
.cstm {
        background-color: rgba(0, 0, 0, 0.705);
        border-radius: 5px;
    } 
@media only screen and (max-width: 796px) {
    .slder img {
        width: 100%;
    }
    .cstm {
        padding-left: 4%;
        padding-right: 4%;
    }
}
@media only screen and (max-width: 611px) {
    .cstm p {
        font-size: 0.8rem;
    }
    .cstm h3 {
        font-size: 1rem;
    }
}