.service {
    /* border: 1px solid rgba(0, 0, 0, 0.103); */
    border-radius: 10px;
    padding: 2%;
    margin: 1%;
    font-size: 0.9rem;
}
.welcome-section {
    margin-top: 5%;
    margin-bottom: 5%;
}
.welcome-text {
    color: rgba(0, 24, 0, 0.87);
    padding: 4%;
}
.sect-bt {
    background-color: rgba(255, 200, 0, 0.156);
}