.dashcourse
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    display: none;
}
.edit-area {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    background-color: rgba(0, 128, 0, 0.034);
    border: 1px solid rgba(0, 46, 0, 0.104);
}
.added-text {
    margin-bottom: 5%;
}
@media only screen and (max-width: 780px) {
    .dashcourse {
        /* background-color: black; */
        flex-direction: column;margin: 1%;
    }
    .dashcreatedevents {
        border-right: 1px solid green;
        border-radius: 3px;
        margin-bottom: 2%;
        margin-top: 5%;
    }
    .dashcreateevents {
        border-radius: 3px;
        margin-bottom: 5%;
    }
}